{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block title %}
    myaplication
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>Hello</h1>
    </div>
    <div class="text-center"><a href="{{ url_for('user', name='TorrentC') }}">click</a></div>

    <p>{{ moment(current_time).format('LLL') }}</p>
    <p>{{ moment(current_time).fromNow(refresh=True) }}</p>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh-cn') }}
{% endblock %}