<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome here</h1>
    <br>
    <a href='/user'>click</a>
    {% if name %}
        <p>Hello, {{ name }}</p>
    {% endif %}
    {% if comments %}
        {% import 'mocros.html' as m %}
        <ul>
            {% for comment in comments %}
                {{ m.li(comment) }}
            {% endfor %}

        </ul>
    {% endif %}

{% for comment in comments %}
        {{ comment }}
{% endfor %}

{% if name %}
    {{ name }}
{% else %}
    <p>None</p>
{% endif %}

{% include 'part.html' %}
</body>
</html>